<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ayurway
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item *ngIf="profiledata">
                <ion-thumbnail item-start>
                    <div class="outerdiv" (click)="changePic()">
                        <div class="setclircle">
                            <i class="smallimg"></i>
                            <img class="bigimg" [src]='profilePic'>
                        </div>
                    </div>
                </ion-thumbnail>
                <h2 (click)="itemclick('personal')"> Dr. <strong>{{profiledata.first_name}} </strong><strong>{{profiledata.last_name}} </strong>
                    <span> 
                                <ion-icon color="primary" name="md-create"></ion-icon>
                           </span></h2>
                <p>{{profiledata.profession}}</p>
                <p>{{profiledata.city}}</p>
            </ion-item>
            <progress-bar *ngIf="showBar" [progress]="loadProgress"></progress-bar>
        </ion-card-content>

    </ion-card>

    <hr>

    <ion-row class="socialinfo">
        <ion-col col-3>
            <div>
                <p>128</p>
                <p>Followers</p>
            </div>
        </ion-col>
        <ion-col col-3>
            <div>
                <p>18</p>
                <p>Followings</p>
            </div>
        </ion-col>
        <ion-col col-3>
            <div>
                <p>12</p>
                <p>Cases</p>
            </div>
        </ion-col>
        <ion-col col-3>
            <div>
                <p>28</p>
                <p>Answers</p>
            </div>
        </ion-col>
    </ion-row>

    <hr>
    <ion-card>
        <ion-card-content>
            <ion-list *ngIf="profiledata">
                <ion-item-divider color="light" class="dividerpadding">
                    <h6>Basic Info </h6>
                </ion-item-divider>
                <ion-item (click)="itemclick('Phone')">
                    <h6>Phone </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p class="title">{{profiledata.phone}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item (click)="itemclick('personal')">
                    <h6>Email </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p class="title">{{profiledata.email}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item (click)="itemclick('personal')">
                    <h6>Summary </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p style="white-space: normal !important;" class="title">{{profiledata.about_doctor}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <h6>Membership </h6>
                    <ion-row *ngFor="let item of profiledata.membership; " (click)="itemclick('Membership','Edit',item)">
                        <ion-col col-11>
                            <p class="title">{{item.membership}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title" (click)="itemclick('Membership','Add',{})">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Membership</p>
                </ion-item>
                <ion-item>
                    <h6>Experience </h6>
                    <ion-row *ngFor="let item of profiledata.experience;" (click)="itemclick('Experience','Edit',item)">
                        <ion-col col-11>
                            <p class="title">{{item.hospital}}</p>
                            <p class="subtitle">{{item.designation}}</p>
                            <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>
                            <p class="subtitle">{{item.city}} <span> {{item.country}}</span></p>
                            <p style="white-space: normal !important;" class="subtitle"> {{item.description}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title" (click)="itemclick('Experience','Add',{})">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Experience</p>
                </ion-item>
                <ion-item>
                    <h6>Education </h6>
                    <ion-row *ngFor="let item of profiledata.education;" (click)="itemclick('Education','Edit',item)">
                        <ion-col col-11>
                            <p class="title">{{item.institute}}</p>
                            <p class="subtitle">{{item.degree}}</p>
                            <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>
                            <p class="subtitle">{{item.city}} <span> {{item.country}}</span></p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title" (click)="itemclick('Education','Add',{})">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Education</p>
                </ion-item>
                <ion-item>
                    <h6>Awards & Honors </h6>
                    <ion-row *ngFor="let item of profiledata.awards;" (click)="itemclick('Awards','Edit',item)">
                        <ion-col col-11>
                            <p class="title">{{item.award}}</p>
                            <p style="white-space: normal !important;" class="subtitle">{{item.description}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title" (click)="itemclick('Awards','Add',{})">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Awards & Honors</p>
                </ion-item>
                <ion-item>
                    <h6>Publication </h6>
                    <ion-row *ngFor="let item of profiledata.publications;" (click)="itemclick('Publication','Edit',item)">
                        <ion-col col-11>
                            <p class="title">{{item.paper}}</p>
                            <p class="subtitle">{{item.author}}</p>
                            <p class="subtitle">{{item.description}}</p>
                            <p class="subtitle">{{item.link}}</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title" (click)="itemclick('Publication','Add',{})">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Publication</p>
                </ion-item>
                <ion-item (click)="itemclick('Presentation')">
                    <h6>Presentation </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p class="title">Nirpha</p>
                            <p style="white-space: normal !important;" class="subtitle">how to hanlde serious cases</p>
                            <p class="subtitle">N/A</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Presentation</p>
                </ion-item>
                <ion-item (click)="itemclick('Volunteer')">
                    <h6>Volunteer Experience </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p class="title">Nirpha</p>
                            <p class="subtitle">Meerut</p>
                            <p class="subtitle">12-12-2001</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Volunteer Experience</p>
                </ion-item>
                <ion-item>
                    <h6>Certification & Courses </h6>
                    <ion-row *ngFor="let item of profiledata.certifications;" (click)="itemclick('Certification','Edit',item)">
                        <ion-col col-11>
                            <p class="title">{{item.title}}</p>
                            <p class="subtitle">{{item.institute}}</p>
                            <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title" (click)="itemclick('Certification','Add',{})">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Certification & Courses</p>
                </ion-item>
                <ion-item (click)="itemclick('CME')">
                    <h6>CME's </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p class="title">ABC</p>
                            <p class="subtitle">Meerut</p>
                            <p class="subtitle">21-11-2001</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add CME's</p>
                </ion-item>
                <ion-item (click)="itemclick('Language')">
                    <h6>Language </h6>
                    <ion-row>
                        <ion-col col-11>
                            <p class="title">English</p>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon color="primary" name="md-create"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p class="title">
                        <ion-icon color="primary" name="md-add-circle"></ion-icon> Add Language</p>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>



</ion-content>