<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>Speciality</ion-label>
                <ion-select interface="popover" [(ngModel)]="region">
                    <ion-option *ngFor="let item of items" (ionSelect)="select(item)" [value]="item.name">{{item.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <div *ngIf="isshow" class="spinnerdiv">
        <ion-spinner icon="bubbles" class="spinner-energized"></ion-spinner>
    </div>
    <h5 *ngIf="!journals.length">No Data Found</h5>
    <ion-list>
        <ion-card *ngFor="let item of journals;">
            <ion-item (click)="itemclick(item)">
                <ion-thumbnail item-start>
                    <img [src]="item.image">
                </ion-thumbnail>
                <h2 style="white-space: normal !important;">{{item.title}} </h2>
                <h6>{{item.content}}</h6>
                <p>{{item.added_date}}</p>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>