<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ayurway
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="applicant">
        <ion-item>
            <ion-label floating>Award Name</ion-label>
            <ion-input type="text" formControlName="Name"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!applicant.controls['Name'].valid && applicant.controls['Name'].touched">Enter Award Name</div>
        </div>
        <ion-item>
            <ion-textarea placeholder="Enter description" rows="4" formControlName="Detail"></ion-textarea>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!applicant.controls['Detail'].valid && applicant.controls['Detail'].touched">Enter Description</div>
        </div>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button block (click)="applicantForm()" [disabled]="!applicant.valid" icon-right>
                        Next
                     <ion-icon name="md-arrow-round-forward"></ion-icon>
            </button>
        </div>
    </form>
</ion-content>