// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.alert {
    color: red;
    margin-top: 10px;
}

.button_div {
    margin-top: 25px;
    text-align: center;
}

h5 {
    margin-top: 5px !important;
    margin-bottom: 10px!important;
    text-align: center!important;
    color: color($colors, primary) !important;
}

.item-md {
    padding-left: 1px!important;
}

.marginlbl {
    margin: 13px 0px 13px 0 !important;
}

.text-input-md {
    margin: 13px 1px !important;
}

.dividerpadding {
    padding-left: 15px !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: color($colors, secondary) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 color($colors, secondary) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, secondary) !important
}

.iconmargin {
    margin-left: 10px;
    margin-right: 5px;
}

.profile-data {
    margin: 0px;
    text-align: center;
    background-color: color($colors, primary) !important;
    .outerdiv {
        text-align: -webkit-center;
        .setclircle {
            //background-image: url('../assets/imgs/profile_dp_outline.png');
            background-size: cover;
            text-align: center;
            width: 96px;
            height: 96px;
            .bigimg {
                border-radius: 42px;
                width: 85px;
                height: 85px;
                margin-top: 6px;
            }
        }
    }
    h2 {
        margin-top: 0.8rem !important;
        margin-bottom: 05px !important;
        font-size: 1.8rem;
        color: white !important;
        white-space: normal !important;
    }
    p {
        color: white;
        margin: 1px 1px 15px 0px !important;
    }
}

.select-popover ion-list {
    margin: -1px 1px 1px 10px !important;
}