<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ayurway
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h5> Certifications and Courses </h5>

    <form [formGroup]="applicant">
        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="Name"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!applicant.controls['Name'].valid && applicant.controls['Name'].touched">Enter Award Name</div>
        </div>
        <ion-item>
            <ion-label floating>Institute</ion-label>
            <ion-input type="text" formControlName="Institute"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!applicant.controls['Institute'].valid && applicant.controls['Institute'].touched">Enter Institute Name</div>
        </div>
        <ion-row>
            <ion-col col-6>
                <ion-item (click)="opencal('From')">
                    <ion-label class="marginlbl">{{ From }}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item (click)="opencal('To')">
                    <ion-label class="marginlbl">{{ To }}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item *ngFor="let item of subSpeciality;">
            <ion-checkbox [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}"></ion-checkbox>
            <ion-label>{{item.title}}</ion-label>
        </ion-item>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button block (click)="applicantForm()" [disabled]="!applicant.valid" icon-right>
                    Save
            </button>
        </div>
    </form>
</ion-content>