<ion-header>

    <ion-navbar color="primary">
        <ion-searchbar #q placeholder="Search name, speciality ..." (keyup.enter)="search(q.value)">
        </ion-searchbar>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="profile(item)">
            <ion-avatar *ngIf="item.doctor_image" item-start>
                <img [src]="item.doctor_image">
            </ion-avatar>
            <h6>{{item.doctor_name}}</h6>
            <p>{{item.doctor_profession}}</p>
            <p>{{item.doctor_speciality}}</p>
        </ion-item>
    </ion-list>
    <h5 *ngIf="!items.length">No Data Found</h5>
</ion-content>