<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>Speciality</ion-label>
                <ion-select interface="popover" [(ngModel)]="region">
                    <ion-option *ngFor="let item of items" [value]="item.name" (ionSelect)="select(item)">{{item.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item (click)="shareCase()">
            <ion-avatar item-start>
                <ion-icon color="primary" style="font-size: 3.2em!important;" name="md-add-circle"></ion-icon>
            </ion-avatar>
            Share your case
        </ion-item>
    </ion-card>
    <div *ngIf="!discusses.length" class="spinnerdiv">
        <ion-spinner icon="bubbles" class="spinner-energized"></ion-spinner>
    </div>
    <h5 *ngIf="!discusses.length">No Data Found</h5>
    <ion-card *ngFor="let discuss of discusses; let i = index">
        <ion-item>
            <ion-avatar item-start (click)="otherProfile(discuss)">
                <img [src]="discuss.doctor_image">
            </ion-avatar>
            <div (click)="otherProfile()">
                <h2>{{discuss.doctor_name}}</h2>
                <p>{{discuss.specialty}}</p>
                <p>{{discuss.added_date}}</p>
            </div>

            <button *ngIf="discuss.is_followed" (click)="follow(discuss)" ion-button item-end icon-left small>
                <ion-icon name="md-person-add"></ion-icon>
                Follow
            </button>
        </ion-item>
        <div (click)="itemClick(discuss)">
            <img [src]="discuss.image">

            <ion-card-content>
                <p>{{discuss.content}}</p>
            </ion-card-content>
        </div>
        <ion-row>
            <ion-col col-3 class="aligncenter" (click)="like(discuss,i)">
                <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{discuss.likes}} Likes</div>
                </button>
            </ion-col>
            <ion-col col-3 class="aligncenter">
                <button (click)="itemClick(discuss)" ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{discuss.answers}} Answers</div>
                </button>
            </ion-col>
            <ion-col col-4 (click)="bookmark(discuss,i)" class="aligncenter">
                <button ion-button icon-left clear small>
                <ion-icon name="md-bookmark"></ion-icon>
                <div>{{discuss.shares}} Bookmark</div>
                </button>
            </ion-col>
            <ion-col col-2 (click)="shareData(discuss)" class="aligncenter">
                <button ion-button icon-left clear small>
                <ion-icon name="md-share"></ion-icon>
                </button>
            </ion-col>
        </ion-row>

    </ion-card>

</ion-content>