<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ayurway
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="discuss">
        <ion-item>
            <ion-avatar item-start (click)="otherProfile()">
                <img [src]="discuss.doctor_image">
            </ion-avatar>
            <div (click)="otherProfile()">
                <h2>{{discuss.doctor_name}}</h2>
                <p>{{discuss.specialty}}</p>
                <p>{{discuss.added_date}}</p>
            </div>

            <button *ngIf="discuss.is_followed == 'no'" (click)="follow(discuss)" ion-button item-end icon-left>
                <ion-icon name="md-person-add"></ion-icon>
                Follow
            </button>
        </ion-item>
        <div (click)="itemClick(discuss)">
            <img [src]="discuss.image">

            <ion-card-content>
                <p>{{discuss.content}}</p>
            </ion-card-content>
        </div>
        <ion-row>
            <ion-col col-4 class="aligncenter" (click)="like(discuss,i)">
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{discuss.likes}} Likes</div>
                    </button>
            </ion-col>
            <ion-col col-4 (click)="bookmark(discuss,i)" class="aligncenter">
                <button ion-button icon-left clear small>
                    <ion-icon name="md-bookmark"></ion-icon>
                    <div>{{discuss.shares}} Bookmark</div>
                    </button>
            </ion-col>
            <ion-col col-4 (click)="shareData(discuss)" class="aligncenter">
                <button ion-button icon-left clear small>
                    <ion-icon name="md-share"></ion-icon>
                    </button>
            </ion-col>
        </ion-row>

    </ion-card>
    <div class="message-wrap">

        <div *ngFor="let msg of msgList" class="message" [class.left]=true>
            <img class="user-img" [src]="msg.answer_doctor_image" alt="" src="">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.answer_doctor_name}}&nbsp;&nbsp;&nbsp;{{msg.answer_date | relativeTime}}</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{msg.answer}}</p>
                </div>
            </div>
        </div>

    </div>
</ion-content>
<ion-footer no-border>
    <div class="input-wrap">
        <textarea #chat_input placeholder="Answere or Reply" [(ngModel)]="editorMsg" (focusin)="onFocus()">
        </textarea>
        <button ion-button clear icon-only item-right (click)="sendMsg()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </button>
    </div>
</ion-footer>