<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ayurway
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="profiledata">
        <ion-card-content>
            <ion-item>
                <ion-thumbnail item-start>
                    <div class="outerdiv">
                        <div class="setclircle">
                            <img class="bigimg" [src]='profiledata.image'>
                        </div>
                    </div>
                </ion-thumbnail>
                <h2> Dr. <strong>{{profiledata.first_name}}  </strong><strong>{{profiledata.last_name}}  </strong></h2>
                <p>{{profiledata.profession}}</p>
                <p>{{profiledata.city}}</p>
            </ion-item>
        </ion-card-content>
        <ion-row>
            <ion-col col-6>
                <button ion-button (click)="call(profiledata.phone)" item-end block icon-left>
                <ion-icon name="md-call"></ion-icon>
                    Call {{profiledata.phone}}
               </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button item-end block icon-left>
                <ion-icon name="md-person-add"></ion-icon>
                Follow
            </button>
            </ion-col>
        </ion-row>
    </ion-card>
    <hr>
    <ion-row class="socialinfo" *ngIf="profiledata">
        <ion-col col-3>
            <div>
                <p>{{profiledata.followers}}</p>
                <p>Followers</p>
            </div>
        </ion-col>
        <ion-col col-3>
            <div>
                <p>{{profiledata.following}}</p>
                <p>Followings</p>
            </div>
        </ion-col>
        <ion-col col-3>
            <div>
                <p>{{profiledata.cases}}</p>
                <p>Cases</p>
            </div>
        </ion-col>
        <ion-col col-3>
            <div>
                <p>{{profiledata.answers}}</p>
                <p>Answers</p>
            </div>
        </ion-col>
    </ion-row>

    <hr>
    <ion-card *ngIf="profiledata">
        <ion-card-content>
            <ion-list>
                <ion-item-divider color="light" class="dividerpadding">
                    <h6>Basic Info </h6>
                </ion-item-divider>
                <ion-item>
                    <h6>Email </h6>
                    <p class="title">{{profiledata.email}}</p>
                </ion-item>
                <ion-item>
                    <h6>Summary </h6>
                    <p style="white-space: normal !important;" class="title">{{profiledata.about_doctor}}</p>
                </ion-item>
                <ion-item>
                    <h6>Membership </h6>
                    <p *ngFor="let item of profiledata.membership;" class="title">{{item.membership}}</p>
                </ion-item>
                <ion-item>
                    <h6>Experience </h6>
                    <div *ngFor="let item of profiledata.experience;">
                        <p class="title">{{item.hospital}}</p>
                        <p class="subtitle">{{item.designation}}</p>
                        <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>
                        <p class="subtitle">{{item.city}} <span> {{item.country}}</span></p>
                        <p style="white-space: normal !important;" class="subtitle"> {{item.description}}</p>
                    </div>
                </ion-item>
                <ion-item>
                    <h6>Education </h6>
                    <div *ngFor="let item of profiledata.education;">
                        <p class="title">{{item.institute}}</p>
                        <p class="subtitle">{{item.degree}}</p>
                        <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>
                        <p class="subtitle">{{item.city}} <span> {{item.country}}</span></p>
                    </div>

                </ion-item>
                <ion-item>
                    <h6>Awards & Honors </h6>
                    <div *ngFor="let item of profiledata.awards;">
                        <p class="title">{{item.award}}</p>
                        <p style="white-space: normal !important;" class="subtitle">{{item.description}}</p>
                    </div>
                </ion-item>
                <ion-item>
                    <h6>Publication </h6>
                    <div *ngFor="let item of profiledata.publications;">
                        <p class="title">{{item.paper}}</p>
                        <p class="subtitle">{{item.author}}</p>
                        <p class="subtitle">{{item.description}}</p>
                        <p class="subtitle">{{item.link}}</p>
                    </div>
                </ion-item>
                <ion-item>
                    <h6>Presentation </h6>
                    <div *ngFor="let item of profiledata.presentations;">
                        <p class="title">{{item.title}}</p>
                        <p style="white-space: normal !important;" class="subtitle">{{item.description}}</p>
                        <p class="subtitle">{{item.link}}</p>
                    </div>
                </ion-item>
                <ion-item>
                    <h6>Volunteer Experience </h6>
                    <div *ngFor="let item of profiledata.volunteer_experience;">
                        <p class="title">{{item.title}}</p>
                        <p class="subtitle">{{item.location}}</p>
                        <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>
                    </div>
                </ion-item>
                <ion-item>
                    <h6>Certification & Courses </h6>
                    <div *ngFor="let item of profiledata.certifications;">
                        <p class="title">{{item.title}}</p>
                        <p class="subtitle">{{item.institute}}</p>
                        <p class="subtitle">{{item.date_from}} to <span *ngIf="(item.is_currently == '0')"> {{item.date_to}}</span><span *ngIf="!(item.is_currently == '0')">Persent</span></p>

                    </div>

                </ion-item>
                <ion-item>
                    <h6>CME's </h6>
                    <div *ngFor="let item of profiledata.cmes;">
                        <p class="title">{{item.name}}</p>
                        <p class="subtitle">{{item.location}}</p>
                        <p class="subtitle">{{item.date_attended}}</p>
                    </div>
                </ion-item>
                <ion-item>
                    <h6>Language </h6>
                    <div *ngFor="let item of profiledata.languages;">
                        <p class="title">{{item.language}}</p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>